Repository quokka-astro/quokka, pull requests merged in 2025-10, with the labels that each got.

#1365 Fix the carbuncle problem in the HLLD solver
  .github/workflows/mhd-asan.yml
  src/hydro/HLLD.hpp
  src/hydro/hydro_system.hpp
  src/problems/CMakeLists.txt
  src/problems/HydroQuirk/CMakeLists.txt
  src/problems/HydroQuirk/test_hydro_quirk.cpp
  src/problems/MHDQuirk/CMakeLists.txt
  src/problems/MHDQuirk/test_mhd_quirk.cpp
Labels: MHD, lgtm, size:L

#1368 Add a bash script to do pre-commit reformatting
  scripts/bash/format.sh
Labels: lgtm, size:M

#1366 DiagPlotfile for Plotfile control with selected particle types
  inputs/GravRadParticle3D.in
  src/CMakeLists.txt
  src/io/DiagBase.H
  src/io/DiagFramePlane.H
  src/io/DiagFramePlane.cpp
  src/io/DiagPDF.H
  src/io/DiagPDF.cpp
  src/io/DiagPlotfile.H
  src/io/DiagPlotfile.cpp
  src/io/DiagProjectionPlot.H
  src/io/DiagProjectionPlot.cpp
  src/io/openPMD.cpp
  src/io/openPMD.hpp
  src/io/projection.cpp
  src/io/projection.hpp
  src/particles/PhysicsParticles.hpp
  src/problems/GravRadParticle3D/test_grav_rad_particle_3D.cpp
  src/simulation.hpp
Labels: I/O, particles, lgtm, size:XXL

#1380 robust amendRadState
  src/radiation/radiation_system.hpp
Labels: bug: wrong answer/failure/crash, lgtm, size:S
